@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

/*body { font-family: "RobotoSlab", sans-serif; }*/
body { font-family: "RobotoSlab", sans-serif; }
/*@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf') format('ttf'),
  src: url('../fonts/Roboto_Slab/RobotoSlab-Light.ttf') format('ttf'),
  src: url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('ttf'),
    url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}*/
*{
    font-family: "RobotoSlab", sans-serif;
}
