:root {
    --blue-50: #eaf3ff;
    --blue-100: #dae9ff;
    --blue-200: #bcd6ff;
    --blue-300: #93b9ff;
    --blue-400: #6890ff;
    --blue-500: #4568ff;
    --blue-600: #253bff;
    --blue-700: #2031e9;
    --blue-800: #1828bb;
    --blue-900: #1d2c92;
    --blue-950: #111855;
}
.grid-container {
    max-width: none !important;
}

.title-bar {
    background-color: var(--blue-800);
}

.titulo {
    margin-top: 10px;
    color: var(--blue-700);
    font-weight: bold;
}

h3 {
    color: var(--blue-100);
    font-weight: bold;
}

label {
    font-size: 1.25rem !important;
    color: var(--blue-950);
    padding-right: 1rem;/*Eliminar esta linea para alinear a la izquierda*/
}
span{
    display: flex;
    text-align: right;/*Eliminar esta linea para alinear a la izquierda*/
}
#idpersonal{
    display: none;
}
#id{
    display: none;
}
/*---------------Modal------------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: none; /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.callout h2 {
    font-size: 24px;
    color: #333;
}

.callout p {
    margin-top: 1%;
    font-size: 20px;
    color: #666;
}

.callout button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #888;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.callout .pdf{
    background-color: #dc4141;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.pdf {
    position: absolute;
    top: 60px;
    right: 10px;
    font-size: 20px;
    color: #888;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.img-modal{
    width: 10%;
}

/*---------------Modal-END-----------*/
